DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=cinehub
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRED=1m
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRED=7d